body{
    background:#f3f4f6;
}

.dashboard-container{

    max-width:1200px;

    margin:40px auto;

    padding:30px;

    font-family:Arial, Helvetica, sans-serif;

}

.dashboard-title{

    font-size:52px;

    font-weight:700;

    color:#222;

    margin-bottom:10px;

}

.dashboard-subtitle{

    font-size:22px;

    color:#555;

    margin-bottom:40px;

}

.dashboard-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

    gap:25px;

}

.dashboard-card{

    background:white;

    border-radius:20px;

    padding:35px;

    text-align:center;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

    transition:.3s;

}

.dashboard-card:hover{

    transform:translateY(-6px);

}

.dashboard-card h2{

    color:#6b6969;

    font-size:32px;

    margin-bottom:20px;

}

.dashboard-card h1{

    font-size:56px;

    color:#222;

    margin:15px 0;

}

.dashboard-card p{

    color:#444;

    font-size:28px;

    font-weight:500;

}

.quick-actions{

    margin-top:60px;

}

.quick-actions h2{

    color:#6b6969;

    margin-bottom:25px;

}

.action-buttons{

    display:flex;

    gap:20px;

    flex-wrap:wrap;

}

.action-buttons button{

    background:#6b6969;

    color:white;

    border:none;

    padding:15px 30px;

    border-radius:12px;

    font-size:16px;

    cursor:pointer;

    transition:.3s;

}

.action-buttons button:hover{

    background:#555353;

}